//feuille de style du composant "Carroussel"

//Import des mixin qui gerent le responsive
@import "../../utils/mixins/responsive/responsive.scss";


@keyframes slideFromLeft {
  0% {
    background-position: -100vw 0vh;
    
  }
  
  100% {
    background-position: 0vw 0vh;
  }
}

@keyframes slideFromRight {
  0% {
    background-position:  100vw 0vh;
    
  }
  
  100% {
    background-position:  0vw 0vh;
   
  }
}

.carroussel {
  position: relative;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  border-radius: 10px;

  width: 80vw;
  height: 0vh;
  padding-top: 25vh;
  padding-bottom: 25vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
 

  

  &__container-chevron {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }

  .chevron {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    margin: 0px 5% 0px 5%;

    & > img {
      //responsive design medium screen
      //pas de modification

      //responsive design screen large
      //pas de modification

      //responsive design screen x-large
      @include x-large-screen {
        transform: scale(1.5);
      }

      //responsive design screen xx-large
      @include xx-large-screen {
        transform: scale(2);
      }
    }
  }

  &__compteur {
    position: absolute;
    left: 50%;
    bottom: 10%;
    transform: translateX(-50%);
    color: white;
    font-size: 18px;
    font-weight: 500;

    //responsive design medium screen
    //pas de modification

    //responsive design screen large
    //pas de modification

    //responsive design screen x-large
    @include x-large-screen {
      transform: scale(1.2);
    }

    //responsive design screen xx-large
    @include xx-large-screen {
      transform: scale(1.5);
    }
  }
}

  .slideFromLeft {
      animation: slideFromLeft 300ms linear  ;
      border: 2px solid red;
      //background-position:  250% 0%;
    }

  .slideFromRight {
      animation: slideFromRight 300ms linear  ;
      border: 2px solid blue;
      //background-position: 250% 0%;
  }


