//Feuille de style de la page "error 404"

//Import de la charte de couleur
@import "../../utils/colors-rule/colors-rule.scss";

//Import des mixins qui gere le responsive
@import "../../utils/mixins/responsive/responsive.scss";

.error {
  position: relative;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  color: map-get($colors-rule, primary-color);
  text-align: center;

  &__title {
    font-size: 96px;
    font-weight: 700;
    margin: 100px 0px 0px 0px;
  }

  &__message {
    font-size: 18px;
    font-weight: 500;
    margin: 100px 0px 0px 0px;
  }

  &__link {
    font-size: 14px;
    color: map-get($colors-rule, primary-color);
    margin: 100px 0px 200px 0px;
    text-decoration: underline;
  }
}
