// feuille de style composant "Card"

//Import de la charte de couleur
@import "../utils/colors-rule/colors-rule.scss";

//Import des mixin qui gerent le responsive design
@import "../utils/mixins/responsive/responsive.scss";

.card {
  position:relative;
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  align-items: center;

  width: 335px;
  height: 255px;
  margin: 10px auto;
  border-radius: 10px;
  padding: 10px;
  overflow: hidden;
  background: linear-gradient(
    180deg,
    map-get($colors-rule, primary-color) 50%,
    map-get($colors-rule, bg-dark) 100%
  );
  font-size: 18px;
  color: map-get($colors-rule, text-light);

  transition: all 250ms linear;

  //responsive medium screen
  @include medium-screen {
    width: 340px;
    height: 280px;
    margin: 10px;
  }
  //responsive large screen
  @include large-screen {
    width: 340px;
    height: 300px;
    margin: 15px;
  }
  //responsive x-large screen
  @include x-large-screen {
    width: 340px;
    height: 340px;
    margin: 20px;
  }
  //responsive xx-large screen
  @include xx-large-screen {
    width: 350px;
    height: 350px;
    margin: 25px;
  }

  &__img, &__name, &__title, &__rating{
    position:absolute;
    
  }

  &__img{
    top:0%;
    left: 0%;
    width:100%;
    height: 60%;
    
  }

  &__name {
    top:65%;
    left: 10px;
    & > span {
      font-size: 16px;
    }
  }

  &__title{
    top: 75%;
    left: 10px;
   
  }

  &__rating{
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    top:90%;
    left: 50%;
    transform: translateX(-50%);
    
  }

 
}
