//feuille de style component collapse

//Import charte de couleur
@import "../../utils/colors-rule/colors-rule.scss";

//Import des mixins qui gerent le responsive
@import "../../utils/mixins/responsive/responsive.scss";

@keyframes displayContent {
  
    0%{
      height: 0px;
      opacity: 0;
    }
    100%{
      height: 250px;
      opacity: 1;
    }
   
}

@keyframes hideContent {
  
    0%{
      height: 250px;
      opacity: 1;
    }
    100%{
      height: 0px;
      opacity: 0;
    }
   
}

.collapse {
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: center;
  width: 80%;
  height: fit-content;
  margin: 10px 0px;
  font-size: 16px;

  //responsive large sreen
  @include large-screen{
    width: 45%;
    font-size: 18px;
  }
  //responsive xlarge sreen
  @include x-large-screen{
    width: 45%;
    font-size: 18px;
  }
  //responsive xx-large sreen
  @include xx-large-screen{
    width: 45%;
    font-size: 20px;
  }
     

  &__title,
  &__content,
  &__content--list {
    display: flex;
    width: 100%;
    padding: 10px;
    border-radius: 10px;
  }

  &__content,
  &__content--list {
   
    background-color: map-get($colors-rule, bg-light);
    color: map-get($colors-rule, primary-color);
    
    
  }

  &__title {
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    text-transform: capitalize;
    color: map-get($colors-rule, text-light);
    background-color: map-get($colors-rule, primary-color);
  }

  &__content {
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: flex-start;
  }

  &__content--list {
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: flex-start;
  }

  .open{

      animation: displayContent 0.3s linear 0s normal 1 forwards running ;
    }
    
  .close{
      animation: hideContent 0.3s linear 0s normal 1 forwards running  ;

  }
}
