//Feuille de style du composant "Carrousel"

//Import de la charte de couleur
@import "../../utils/colors-rule/colors-rule.scss";

//Import des "mixin" qui gerent le responsive
@import "../../utils/mixins/responsive/responsive.scss";


//Animation du carroussel

@keyframes slideFromLeft {
  0% {
    
    transform: translateX(-100%);
  }

  100% {
    
    transform: translateX(0%);
  }
}

@keyframes slideFromRight {
  0% {
    
    transform: translateX(100%);
  }

  100% {
    
    transform: translateX(0%);
  }
}

.carrousel {

  position: relative;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  border-radius: 25px;
  width: 335px ;
  height: 255px ;
  //responsivemedium-screen
  //pas de modification

  //responsive large-screen
    @include large-screen {
      width: 500px;
      height: 390px;
    }

    //responsive x-large-screen
    @include x-large-screen {
      width: 800px;
      height: 415px;
    }

    //responsive xx-large-screen
    @include xx-large-screen {
      width: 1240px ;
      height: 415px ;
    }
  
  

  &__container-chevron {
    position:absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    
  }

  .chevron {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    margin: 0px 5% 0px 5%;
    
    & > img {
      background-color:darken(map-get($colors-rule, bg-light ), 20%) ;
      padding: 5px;
      border-radius: 50%;
      //responsive design medium screen
      //pas de modification

      //responsive design screen large
      //pas de modification

      //responsive design screen x-large
      @include x-large-screen {
        transform: scale(1.5);
      }

      //responsive design screen xx-large
      @include xx-large-screen {
        transform: scale(2);
      }
    }
  }

  
  
}


.slideFromLeft {
  animation: slideFromLeft 300ms linear;
  
}

.slideFromRight {
  animation: slideFromRight 300ms linear;
  
}
