//feuille de style du composant "Carrousel"

//Import des "mixin" qui gerent le responsive
@import "../../utils/mixins/responsive/responsive.scss";


//Animation du carroussel

@keyframes slideFromLeft {
  0% {
    
    transform: translateX(-100%);
  }

  100% {
    
    transform: translateX(0%);
  }
}

@keyframes slideFromRight {
  0% {
    
    transform: translateX(100%);
  }

  100% {
    
    transform: translateX(0%);
  }
}

.carrousel {

  position: relative;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  max-width: 1240px;
  max-height: 415px;
  min-width: 335px;
  min-height: 255px;
  
  

  &__container-chevron {
    position:absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    
  }

  .chevron {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    margin: 0px 5% 0px 5%;

    & > img {
      //responsive design medium screen
      //pas de modification

      //responsive design screen large
      //pas de modification

      //responsive design screen x-large
      @include x-large-screen {
        transform: scale(1.5);
      }

      //responsive design screen xx-large
      @include xx-large-screen {
        transform: scale(2);
      }
    }
  }

  &__compteur {
    position: absolute;
    left: 50%;
    top: 85%;
    transform: translateX(-50%);
    color: white;
    font-size: 18px;
    font-weight: 500;

    //responsive design medium screen
    //pas de modification

    //responsive design screen large
    //pas de modification

    //responsive design screen x-large
    @include x-large-screen {
      transform: scale(1.2);
    }

    //responsive design screen xx-large
    @include xx-large-screen {
      transform: scale(1.5);
    }
  }

  
}

.image-carrousel{
  max-width: 1240px;
  max-height: 415px;
  min-width: 335px;
  min-height: 255px;

  border-radius: 25px;
  object-fit: cover;
  object-position: center;
}

.slideFromLeft {
  animation: slideFromLeft 300ms linear;
  
}

.slideFromRight {
  animation: slideFromRight 300ms linear;
  
}
