#banner {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  width: 100%;
  margin: 20px 0px;
  padding: 20px;
  border-radius: 25px;
  background-color: #000000;
}
@media screen and (min-width: 769px) and (max-width: 992px) {
  #banner {
    height: 223px;
  }
}
@media screen and (min-width: 993px) and (max-width: 1500px) {
  #banner {
    height: 223px;
  }
}
@media screen and (min-width: 1501px) {
  #banner {
    height: 250px;
  }
}
#banner__text {
  z-index: 10;
  width: 45%;
  font-size: 24px;
  color: #FFFFFF;
}
@media screen and (min-width: 576px) and (max-width: 768px) {
  #banner__text {
    font-size: 28px;
  }
}
@media screen and (min-width: 769px) and (max-width: 992px) {
  #banner__text {
    font-size: 36px;
  }
}
@media screen and (min-width: 993px) and (max-width: 1500px) {
  #banner__text {
    font-size: 48px;
  }
}
@media screen and (min-width: 1501px) {
  #banner__text {
    font-size: 50px;
  }
}