.bulletpoint {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  top: 80%;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
}
.bulletpoint .bulletpoint__circle {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  border: 2px solid #FF6060;
  background-color: transparent;
}
@media screen and (min-width: 993px) and (max-width: 1500px) {
  .bulletpoint .bulletpoint__circle {
    width: 18px;
    height: 18px;
  }
}
@media screen and (min-width: 1501px) {
  .bulletpoint .bulletpoint__circle {
    width: 20px;
    height: 20px;
  }
}
.bulletpoint .circle-fill {
  background-color: #FF6060;
}