@-webkit-keyframes slideFromLeft {
  0% {
    background-position: -100vw 0vh;
  }
  100% {
    background-position: 0vw 0vh;
  }
}
@keyframes slideFromLeft {
  0% {
    background-position: -100vw 0vh;
  }
  100% {
    background-position: 0vw 0vh;
  }
}
@-webkit-keyframes slideFromRight {
  0% {
    background-position: 100vw 0vh;
  }
  100% {
    background-position: 0vw 0vh;
  }
}
@keyframes slideFromRight {
  0% {
    background-position: 100vw 0vh;
  }
  100% {
    background-position: 0vw 0vh;
  }
}
.carroussel {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 10px;
  width: 80vw;
  height: 0vh;
  padding-top: 25vh;
  padding-bottom: 25vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.carroussel__container-chevron {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}
.carroussel .chevron {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0px 5% 0px 5%;
}
@media screen and (min-width: 993px) and (max-width: 1500px) {
  .carroussel .chevron > img {
    -webkit-transform: scale(1.5);
        -ms-transform: scale(1.5);
            transform: scale(1.5);
  }
}
@media screen and (min-width: 1501px) {
  .carroussel .chevron > img {
    -webkit-transform: scale(2);
        -ms-transform: scale(2);
            transform: scale(2);
  }
}
.carroussel__compteur {
  position: absolute;
  left: 50%;
  bottom: 10%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  color: white;
  font-size: 18px;
  font-weight: 500;
}
@media screen and (min-width: 993px) and (max-width: 1500px) {
  .carroussel__compteur {
    -webkit-transform: scale(1.2);
        -ms-transform: scale(1.2);
            transform: scale(1.2);
  }
}
@media screen and (min-width: 1501px) {
  .carroussel__compteur {
    -webkit-transform: scale(1.5);
        -ms-transform: scale(1.5);
            transform: scale(1.5);
  }
}

.slideFromLeft {
  -webkit-animation: slideFromLeft 300ms linear;
          animation: slideFromLeft 300ms linear;
  border: 2px solid red;
}

.slideFromRight {
  -webkit-animation: slideFromRight 300ms linear;
          animation: slideFromRight 300ms linear;
  border: 2px solid blue;
}