@-webkit-keyframes displayContent {
  0% {
    height: 0px;
    opacity: 0;
  }
  100% {
    height: 250px;
    opacity: 1;
  }
}
@keyframes displayContent {
  0% {
    height: 0px;
    opacity: 0;
  }
  100% {
    height: 250px;
    opacity: 1;
  }
}
@-webkit-keyframes hideContent {
  0% {
    height: 250px;
    opacity: 1;
  }
  100% {
    height: 0px;
    opacity: 0;
  }
}
@keyframes hideContent {
  0% {
    height: 250px;
    opacity: 1;
  }
  100% {
    height: 0px;
    opacity: 0;
  }
}
.collapse {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 80%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  margin: 10px 0px;
  font-size: 16px;
}
@media screen and (min-width: 769px) and (max-width: 992px) {
  .collapse {
    width: 45%;
    font-size: 18px;
  }
}
@media screen and (min-width: 993px) and (max-width: 1500px) {
  .collapse {
    width: 45%;
    font-size: 18px;
  }
}
@media screen and (min-width: 1501px) {
  .collapse {
    width: 45%;
    font-size: 20px;
  }
}
.collapse__title, .collapse__content, .collapse__content--list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  padding: 10px;
  border-radius: 10px;
}
.collapse__content, .collapse__content--list {
  background-color: #F7F7F7;
  color: #FF6060;
}
.collapse__title {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-transform: capitalize;
  color: #FFFFFF;
  background-color: #FF6060;
}
.collapse__content {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}
.collapse__content--list {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}
.collapse .open {
  -webkit-animation: displayContent 0.3s linear 0s normal 1 forwards;
          animation: displayContent 0.3s linear 0s normal 1 forwards;
}
.collapse .close {
  -webkit-animation: hideContent 0.3s linear 0s normal 1 forwards;
          animation: hideContent 0.3s linear 0s normal 1 forwards;
}