@-webkit-keyframes displayContent {
  0% {
    height: 0px;
    opacity: 0;
  }
  100% {
    height: -webkit-fit-content;
    height: fit-content;
    opacity: 1;
  }
}
@keyframes displayContent {
  0% {
    height: 0px;
    opacity: 0;
  }
  100% {
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    opacity: 1;
  }
}
@-webkit-keyframes hideContent {
  0% {
    height: -webkit-fit-content;
    height: fit-content;
    opacity: 1;
  }
  100% {
    height: 0px;
    opacity: 0;
  }
}
@keyframes hideContent {
  0% {
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    opacity: 1;
  }
  100% {
    height: 0px;
    opacity: 0;
  }
}
.collapse-beta {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  width: 100%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  margin: 10px 0px;
  font-size: 16px;
}
@media screen and (min-width: 769px) and (max-width: 992px) {
  .collapse-beta {
    width: 45%;
    font-size: 18px;
  }
}
@media screen and (min-width: 993px) and (max-width: 1500px) {
  .collapse-beta {
    width: 45%;
    font-size: 18px;
  }
}
@media screen and (min-width: 1501px) {
  .collapse-beta {
    width: 45%;
    font-size: 20px;
  }
}
.collapse-beta .collapse-beta-label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}
.collapse-beta .collapse-beta-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  padding: 10px;
  border-radius: 10px;
  text-transform: capitalize;
  color: #FFFFFF;
  background-color: #FF6060;
}
.collapse-beta .collapse-beta-title > img {
  -webkit-transition: all 250ms 0s linear;
  -o-transition: all 250ms 0s linear;
  transition: all 250ms 0s linear;
}
.collapse-beta .collapse-beta-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  width: 100%;
  padding: 0px;
  border-radius: 10px;
  background-color: #F7F7F7;
  overflow: hidden;
  -webkit-transition: all 250ms 0s linear, opacity 2s 0s;
  -o-transition: all 250ms 0s linear, opacity 2s 0s;
  transition: all 250ms 0s linear, opacity 2s 0s;
}
.collapse-beta .collapse-beta-input {
  display: none;
}
.collapse-beta .collapse-beta-input:checked ~ label > .collapse-beta-content {
  padding: 10px;
  height: 150px;
  opacity: 1;
}
.collapse-beta .collapse-beta-input:checked ~ label > .collapse-beta-title > img {
  -webkit-transform: rotateZ(180deg);
      -ms-transform: rotate(180deg);
          transform: rotateZ(180deg);
}
.collapse-beta .collapse-beta-input:not(checked) ~ label > .collapse-beta-content {
  height: 0px;
}