.infoslogement {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 10px;
  width: 80%;
  color: #FF6060;
}
@media screen and (min-width: 769px) and (max-width: 992px) {
  .infoslogement {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row nowrap;
            flex-flow: row nowrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
@media screen and (min-width: 993px) and (max-width: 1500px) {
  .infoslogement {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row nowrap;
            flex-flow: row nowrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
@media screen and (min-width: 1501px) {
  .infoslogement {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row nowrap;
            flex-flow: row nowrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
.infoslogement .infoslogement__container--1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}
@media screen and (min-width: 993px) and (max-width: 1500px) {
  .infoslogement .infoslogement__container--1 {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
  }
}
@media screen and (min-width: 993px) and (max-width: 1500px) {
  .infoslogement .infoslogement__container--1 {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
  }
}
@media screen and (min-width: 1501px) {
  .infoslogement .infoslogement__container--1 {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
  }
}
.infoslogement .info-title {
  margin-top: 10px;
  font-size: 18px;
  width: 100%;
}
@media screen and (min-width: 993px) and (max-width: 1500px) {
  .infoslogement .info-title {
    font-size: 20px;
  }
}
@media screen and (min-width: 993px) and (max-width: 1500px) {
  .infoslogement .info-title {
    font-size: 22px;
  }
}
@media screen and (min-width: 1501px) {
  .infoslogement .info-title {
    font-size: 24px;
  }
}
.infoslogement .info-location {
  margin-top: 5px;
  font-size: 14px;
  width: 100%;
}
@media screen and (min-width: 993px) and (max-width: 1500px) {
  .infoslogement .info-location {
    font-size: 16px;
  }
}
@media screen and (min-width: 993px) and (max-width: 1500px) {
  .infoslogement .info-location {
    font-size: 18px;
  }
}
@media screen and (min-width: 1501px) {
  .infoslogement .info-location {
    font-size: 20px;
  }
}
.infoslogement .info-tag-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  margin-top: 5px;
}
.infoslogement .info-tag {
  margin: 5px 15px 0px 0px;
  font-size: 10px;
  color: #FFFFFF;
  padding: 5px 10px 5px 10px;
  background-color: #FF6060;
  border-radius: 5px;
}
@media screen and (min-width: 993px) and (max-width: 1500px) {
  .infoslogement .info-tag {
    font-size: 12px;
  }
}
@media screen and (min-width: 993px) and (max-width: 1500px) {
  .infoslogement .info-tag {
    font-size: 14px;
  }
}
@media screen and (min-width: 1501px) {
  .infoslogement .info-tag {
    font-size: 16px;
  }
}
.infoslogement .infoslogement__container--2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}
@media screen and (min-width: 769px) and (max-width: 992px) {
  .infoslogement .infoslogement__container--2 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-flow: column-reverse nowrap;
            flex-flow: column-reverse nowrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
  }
}
@media screen and (min-width: 993px) and (max-width: 1500px) {
  .infoslogement .infoslogement__container--2 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-flow: column-reverse nowrap;
            flex-flow: column-reverse nowrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
  }
}
@media screen and (min-width: 1501px) {
  .infoslogement .infoslogement__container--2 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-flow: column-reverse nowrap;
            flex-flow: column-reverse nowrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
  }
}
.infoslogement .info-rating {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.infoslogement .info-host {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 14px;
}
@media screen and (min-width: 769px) and (max-width: 992px) {
  .infoslogement .info-host {
    font-size: 16px;
  }
}
@media screen and (min-width: 993px) and (max-width: 1500px) {
  .infoslogement .info-host {
    font-size: 18px;
  }
}
@media screen and (min-width: 1501px) {
  .infoslogement .info-host {
    font-size: 20px;
  }
}
.infoslogement .info-host__name {
  margin-right: 5px;
}
.infoslogement .info-host__face {
  width: 32px;
  height: 32px;
  border-radius: 50%;
}
@media screen and (min-width: 576px) and (max-width: 768px) {
  .infoslogement .info-host__face {
    width: 50px;
    height: 50px;
  }
}
@media screen and (min-width: 769px) and (max-width: 992px) {
  .infoslogement .info-host__face {
    width: 64px;
    height: 64px;
  }
}
@media screen and (min-width: 993px) and (max-width: 1500px) {
  .infoslogement .info-host__face {
    width: 64px;
    height: 64px;
  }
}
@media screen and (min-width: 1501px) {
  .infoslogement .info-host__face {
    width: 80px;
    height: 80px;
  }
}