.logement {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  margin: 0px auto;
  -webkit-transition: width 250ms linear;
  -o-transition: width 250ms linear;
  transition: width 250ms linear;
}
@media screen and (min-width: 769px) and (max-width: 992px) {
  .logement {
    width: 100%;
  }
}
@media screen and (min-width: 993px) and (max-width: 1500px) {
  .logement {
    width: 90%;
  }
}
@media screen and (min-width: 1501px) {
  .logement {
    width: 90%;
  }
}
.logement__collapse-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}
@media screen and (min-width: 769px) and (max-width: 992px) {
  .logement__collapse-container {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row nowrap;
            flex-flow: row nowrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    width: 80%;
  }
}
@media screen and (min-width: 993px) and (max-width: 1500px) {
  .logement__collapse-container {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row nowrap;
            flex-flow: row nowrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    width: 80%;
  }
}
@media screen and (min-width: 1501px) {
  .logement__collapse-container {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row nowrap;
            flex-flow: row nowrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    width: 80%;
  }
}
@media screen and (min-width: 769px) and (max-width: 992px) {
  .logement__collapse-container .collapse-logement {
    width: 35%;
  }
}
@media screen and (min-width: 993px) and (max-width: 1500px) {
  .logement__collapse-container .collapse-logement {
    width: 35%;
  }
}
@media screen and (min-width: 1501px) {
  .logement__collapse-container .collapse-logement {
    width: 35%;
  }
}